<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Update User</title>
    <link rel="stylesheet" href="public/style.css" />
  </head>
  <body>
    <div class="update-user-main-content">
      <div class="admin-theme"></div>
      <div class="update-user">
        <form action="" method="POSt">
          <h2>Admin Panel (Update User Information)</h2>
          <input
            type="number"
            class="user_id"
            name="userID"
            value="<%- users[0].user_id%>"
            placeholder="UserID"
            required
          />
          <input
            type="text"
            class="username"
            name="username"
            value="<%- users[0].username%>"
            placeholder="UserName"
            required
          />
          <input
            type="email"
            class="email"
            name="email"
            value="<%- users[0].email%>"
            placeholder="Email"
            required
          />
          <input
            type="password"
            class="password"
            name="password"
            value="<%- users[0].password%>"
            placeholder="Password"
            required
          />
          <button type="submit">Update</button>
        </form>
      </div>
    </div>
  </body>
</html>
